@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 47px;
}


.section1{
     background-color: #8C3232;
     position: relative;
}
.section1 h1{
    font-size: 120px !important;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-weight: 900;
}
.section1 p{
    font-size: 30px !important;
}

.section1 h2{
    font-size: 50px;
    font-weight: 900 !important;
}


.cut-bg{
    position: absolute;
    width: 200px;
    height: 250px;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    background:
    linear-gradient(135deg, transparent 75%, #ffffff 0)  bottom left;
  }


.section2 .icon-img{
    padding-left: 150px !important;
}

.section2 .icon-img img{
    width: 50px;
    height: 70px;
    margin-right: 10px;
}
.section2 h1{
    font-size: 100px;
}

#img-row{
    justify-content: center !important;
}



#img-row img{
    width: 120px;
    padding-bottom: 10px;
}

#img-row p{
    font-weight: 900 !important;
    color: red;
    padding-top: 10px;
}
#img-row p span{
    color: black;
}

.last-head{
    background-color: #8C3232;
}
.last-head h1{
    font-size: 55px;
    /* padding-left: 150px; */
}

@media (max-width :992px ){
    .section1 h1{
        font-size: 60px !important;
        letter-spacing: 2px;
        word-spacing: 0;
        font-weight: 900;
    }

    .section1 h2{
        font-size: 30px;
        font-weight: 900 !important;
    }
    .section1 p{
        font-weight: 300;
    }

    .last-head h1,
    .section2 h1{
        font-size: 35px !important;
    }

    .section2 .icon-img{
        padding-left: 80px !important;
    }

    .last-head h1{
        text-align: center !important;
    }
}

@media (max-width : 768px){
    .section1 h1{
        font-size: 40px !important;
        letter-spacing: 2px;
        word-spacing: 0;
        font-weight: 900;
    }

    .section1 h2{
        font-size: 25px;
        font-weight: 900 !important;
    }

    .section1 p{
        font-size: 16px !important;
    }
    .last-head h1{
        font-size: 28px !important;
        text-align: center;
    }

    .cut-bg{
        width: 150px;
        height: 200px;
       
      }

      .section2 .icon-img{
        text-align: center !important;
    }

   
}